.game-screen {
  padding-top: 30px;
  margin-top: 10%;
  margin-left: 35%;
  box-sizing: border-box;

  .title {
    width: 100%;
    display: inline-block;
    background-color: rgb(18, 17, 17);
    opacity: 0.9;

    h4 {
      color: azure;
      font-size: 1vmax;
      font-weight: bold;
      width: 100%;
    }
  }
  button {
    width: 500px;
    max-width: 90%;
    min-height: 50px;
    margin-top: 24px;
  }
  .result {
    font-weight: 600;

    &.correct {
      color: var(--correct);
    }

    &.incorrect {
      color: var(--incorrect);
    }
  }
}
